# Deployment Private Key (without 0x prefix, or with 0x prefix)
PRIVATE_KEY=cf5ffbe309df774b06a54a4fb51d1a5050798d9352d026630f4617d510e20c01

# Bohr Testnet RPC URL
RPC_URL=https://rpc.bohr.life

# Bohr Chain ID
CHAIN_ID=968

# BohrScan Explorer API Key (Optional for contract verification)
BOHR_SCAN_API_KEY=

# Optional NFT Parameters
NFT_NAME="Bohr Genesis NFT"
NFT_SYMBOL="BOTNFT"
NFT_BASE_URI="https://api.bohr.life/metadata/"

